@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

body{
    margin : 0;
    background: #f1f1f1;
    font-family: 'Poppins' , sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2.5s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }

    .animation-delay-7000 {
        animation-delay: 6s;
    }

    .font-outline-2 {
        -webkit-text-stroke: 2px rgba(72, 202, 228, 0.4);
      }
      .font-outline-4 {
        -webkit-text-stroke: 4px black;
      }
}

/* -webkit-font-smoothing: This property is specific to WebKit-based browsers (such as Safari and Chrome)
 and is used to control the anti-aliasing and subpixel rendering of fonts. It accepts several values, 
 including antialiased, subpixel-antialiased, and auto. These values determine how text appears on screens, 
 with antialiased providing smoother edges and subpixel-antialiased taking advantage of subpixel rendering 
 for even smoother text appearance.
-moz-osx-font-smoothing: This property is specific to Mozilla Firefox (Gecko-based browsers) on macOS. 
Like -webkit-font-smoothing, it controls the anti-aliasing and subpixel rendering of fonts. 
The possible values are similar to those of -webkit-font-smoothing. */